.pagination-container {
    display: flex;
    gap: 1.25rem;
}

.pagination-button {
    color: #1f2937;
}

.pagination-button.disabled {
    color: #e5e7eb;
}

.pagination-button.active {
    font-weight: bold;
}

.pagination-button.inactive {
    color: #9ca3af;
}

.pagination-dots {
    color: #9ca3af;
}